/*FUENTES*/
/*"Wedny One" -> Usada para el logo de la web*/
@import url('https://fonts.googleapis.com/css?family=Wendy+One&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');*//*font-family: 'Baloo Da 2', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');/*font-family: 'Zilla Slab', serif;*/
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');/*font-family: 'Assistant', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');/*font-family: 'Crete Round', serif;*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bevan&display=swap');


html{
    /*height: 100%;*//*Para que el footer con position absolute se mantenga abajo*/
   min-height: 100%;   
   position:relative;
}

/*BODY*/
body{   
         
    font-family: 'Baloo Thambi 2';  
        
    background:rgb(5,0,92);
    background:linear-gradient(180deg,rgba(5,0,92,1)0%,rgb(44, 44, 102)11%,rgb(68, 68, 124)100%);
    

    margin:0;
    margin-bottom:40px;    

}

/*BARRA DE NAVEGACION*/
/*Buscador y animacion en lupa del buscador*/
#campoTextoBuscador{
    font-size:15px;
    height: 1.01cm;
    width:7cm;    
}
/*Animacion para rotar la lupa*/
@keyframes moverlupa{
    from{transform: rotate(0deg);}
    to{transform: rotate(90deg);}
}
#buscador:hover i{
    animation-name:moverlupa;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
#buscador:focus-within i{
    animation-name:moverlupa;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
/*Estilos para el buscador, para su menu desplegable*/
#menuDesplegablePeliculaBuscadaIndex{
    display: none;/*ESTO SE TENDRA QUE PONER VISIBLE CON JQUERY*/
    width:103%;
    left:-2%;
    margin:1%;
    
}




.fotoBusqueda{    
    padding-right:20px;
    width:55px;
}

.dropdown-item{
    margin-top:10px;
    margin-bottom:-5px;
}
.dropdown-item:hover{
    
    border:1px solid grey;
    background-color: rgb(194, 194, 194);
    color:black;
    cursor:pointer;
}
.dropdown-item:active{
    background-color: white;
    color:black;
}

.iconoNoEncontrado{
    font-size:200px;

}



/*barra de navegacion superior*/
.navbar {
    width:100%;
	border: 0;
	border-radius: 0;
    /*background: linear-gradient(to right, #8f1289, #f62a8d);*/
    background: linear-gradient(to right,#445de9, #92c5e7);
    /*background: linear-gradient(to top,#687cf3, #d8257b);*/
    
}
#marca{     
    letter-spacing: 1px;
    /*font-family: "Wendy One";*/
    font-family: 'Bevan', cursive;
    font-size:30px;
    /*font-weight: bold;*/
    /*color:rgb(9, 255, 0);*/
    color:white;
    padding:0px;
    /*text-shadow:black 0.1em 0.1em 0.2em;*/
    text-shadow: 3px 3px 5px black;
}
#divMarca{
    text-align: right;
   /*width:10cm;*/
   width:20%;
    /*background-color:red;*/
}

/*Tamaños de letra*/
.letraPequena{
    font-size:26px;
    color:rgb(255, 255, 255);
}
.letraPequenaUno{
    font-size:15px;    
}


.tituloPeliculaVue{
    margin-top:-2%;
}

.peliculaAMostrar{
    background-color:orange;
    display:inline-block;
    width:200px;
    /*margin-top:20px;*/
    margin-bottom:20px;
    border-radius: 5px;
    /*margin-left:35%;*/
    margin-top:0px;
    margin-bottom:30px;
 
    box-shadow:2px 2px 5px;  
}

/*Estilos para nota y numero de votos*/
.numeroVotosAMostrarVue{
    text-shadow:2px 2px 5px black;
    box-shadow: 3px 3px 3px 3px #ccc;
    /*box-shadow:2px 2px 5px black; */
    display:inline-block;
    background-color:rgb(49, 82, 173);
    color:white;
    font-weight: bold;
    border-radius:5px;
    font-size:30px;
    /*
    padding:0.7cm;
    padding-left:1cm;
    padding-right:1cm;*/

    margin-left:5%;
    
    margin-bottom:30px;
    width:90px;
    
    
    text-align:center;
    font-size:15px;
    padding-top:5px;
    padding-bottom:5px;
 
}
.notaPeliculaAMostrarVue{
    text-shadow:2px 2px 5px black;
    box-shadow: 3px 3px 3px 3px #ccc;
    /*box-shadow:2px 2px 5px black; */
    display:inline-block;
    background-color:rgb(173, 49, 49);
    color:white;
    font-weight: bold;
    border-radius:5px;
    font-size:30px;
    /*
    padding:0.7cm;
    padding-left:1cm;
    padding-right:1cm;*/

    margin-left:5%;
    margin-top:10px;
    margin-bottom:30px;
    width:90px;
    height:90px;
    padding-top:22px;
    text-align:center;
}
.contenedorNotasVotos{
    /*background-color:orange;*/
    width:2cm;
    display:inline-block; 
    margin-left:20px;
}


/*Boton Mostrar Mas Peliculas*/
.mostrarMasPeliculas{
    margin-left:55px;
}
/*Boton scrollUp*/
.subir{
    float:right;
}



/*botones de inicio y de registro*/
#opciones{
    /*width:10cm;*/
    width:26%;
    /*background-color:red;*/
    font-weight: bold;
}


#iniciarsesion{
    /*text-shadow:black 0.1em 0.1em 0.2em;*/
    font-size:18px;
}
#registrarse{
    /*text-shadow:black 0.1em 0.1em 0.2em;*/
    font-size:18px;
}
#irainicio{
    /*text-shadow:black 0.1em 0.1em 0.2em;*/
    font-size:18px;
}
#iniciarsesion:hover{
    cursor: pointer;    
}
#registrarse:hover{
    cursor: pointer;
}
#irainicio:hover{
    cursor:pointer;
}




/*BARRA LINKS*/
#barraLinks{
    color:white;
    /*background: #946291; */
    /*background: linear-gradient(to left,#687cf3, #f62a8d);*/
    
    background: #4165c8;
    border-top:2px solid #1a1b5a;
    
    padding:1px;  
    /*height: 0.8cm;*/
    height: 0.4cm;
}

/*Divs dentro de la barra*/
/*Publico*/
#barraLinks div{
  
    padding:4px;
    padding-left:15%;
    margin-left:5%;
    font-size:10px;
    
    /*HACER VISIBLE EL FONDO DE LOS ENLACES*/
    /*background-color:red;
    border:1px solid black;*/
}
/*enlaces*/
#barraLinks div a{
    color:white;
    text-decoration: none;
}





/*CONTENIDO DE LAS PAGINAS*/

#contenidoPublico,#divFormularioregistrarse,#divFormulariologin,#appPelicula,#peliculaNoEncontrada{
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:1cm;
}
#contenidoPublico,#appPelicula{
    padding:5%;
}




/*Lineas de separacion*/
hr{
    width: 70%;
}

/*FORMULARIO REGISTRARSE*/
#botonLogin{
    background-color:rgb(48, 49, 97);
    color: white;
}
#botonLogin:hover{
    background-color: #4165c8;
}

/*FORMULARIO REGISTRARSE*/
#botonRegistrarse{
    background-color:rgb(48, 49, 97);
    color: white;
}
#botonRegistrarse:hover{
    background-color: #4165c8;
}

/*Fotos de portada en las peliculas*/
.fotoPortadaPublica{
    /*width: 20%;  
    height: 20%;*/
    /*width: 200px;
    height: 300px;*/
    /*max-width:30%;
    max-height: 20%;*/
    /*width: 100%;
    height: 230px;*/
    /*Para el tamaño de las fotos es mejor estatico, ya que se pueden subir fotos al servidor de distintos tamaños*/
    width: 170px;
    height: 260px;
    box-shadow:2px 2px 5px;  
    border-radius: 5px;
    /*margin:4.6%;*/
    margin-right:7.4%;
    margin-left:7.4%;
    margin-bottom:5%;
    margin-top:5%;
    box-shadow:2px 2px 5px black;
    


}
.fotoPortadaPublica:hover{
    cursor:pointer;
}





/*Boton de color azul*/
.colorAzul{
    /*box-shadow: 3px 3px 3px 3px #ccc;*/
    box-shadow:2px 2px 5px black;
    background-color:rgb(48, 49, 97);
    color: white;
}
.colorAzul:hover{
    background-color: #4165c8;
    color:white;
}


/*TEXTO EN CADA PELICULA PARA EL INDEX PRINCIPAL (SI SE DESEA TENER COMO ANTES, BORRAR LAS DOS SIGUIENTES CLASES)*/
.tituloPortadaPublica{
    width: 170px;
    height: 260px;
}

.contenedor{
    display:inline;
    /*background-color:red;*/
    /*height: 260px;
    width:170px;*/
    position:relative;
    text-align:center;
    color:white;
}
.centrado{
   
    /*background-color:rgba(0, 162, 255, 0.904);*/
    background-color: #2c7da8e5;
    /*border-top:1px solid rgba(0, 2, 138, 0.746);
    border-bottom:1px solid rgba(0, 2, 138, 0.746);*/
    width:170px;
    height: 50px;
    position:absolute;
    top:75%;
    left:50%;
    margin-top:2.3cm;
    transform: translate(-50%,-50%);

    /*padding-top:14px; EN VEZ DE PADDING TOP, PARA CENTRAR EL TEXTO USO LO SIGUIENTE*/
    display:flex;
    justify-content: center;
    align-items: center;


    line-height: 15px;
}
.centrado:hover{
    cursor: pointer;
}


/*Para los botones de votar o criticar una pelicula sin haberse registrado*/
.votarPeliculaPublica,.criticaPeliculaPublica{
    margin-left:2%;
}
/*Para el texto que te pregunta si no tienes cuenta*/
.textoSinCuenta{
    color:rgb(0, 119, 255);
    font-size:13px;    
}
.textoSinCuenta:hover{
    color:rgb(2, 89, 189);
    cursor: pointer;
}


/*Icono ojo ver password*/
#ojo1:hover{
    cursor: pointer;
}
#ojo2:hover{
    cursor: pointer;
}


/*###########################################   ESTILOS PARA LA CABECERA DEL USUARIO ########################################################################*/


#cerrarsesion:hover{
    cursor: pointer;
}


/*BARRA LINKS USUARIO REGISTRADO*/
#barraLinksUsuario{
    color:white;
    /*background: #946291; */
    /*background: linear-gradient(to left,#687cf3, #f62a8d);*/
    
    background: #4165c8;
    border-top:2px solid #1a1b5a;
    
    
    text-align:center;
    /*height: 0.8cm;*/
    height: 0.8cm;
}



#barraLinksUsuario div{
    display:inline;
    
    /*background-color:red;*/
    /*padding-left:10%;*/
    /*padding:4px;*/
    /*padding-left:15%;
    margin-left:5%;
    font-size:10px;*/
    
    /*HACER VISIBLE EL FONDO DE LOS ENLACES*/
    /*background-color:red;
    border:1px solid black;*/
}
/*enlaces*/
#barraLinksUsuario div div{
    /*padding-top:7px;*/
    padding-left:7%;
    padding-right:8%;
    font-size:14px;
    color:white;
    text-decoration: none;
}
#barraLinksUsuario div i{
    padding-top:7px;
}

/*
#spanNickUsuario{
    color:white;
    font-size:14px;
    padding-top:9px;
    padding-right:5px;
}
#spanNickUsuario:hover{
    color:#c8d2d8;
    font-size:14px;
    padding-top:9px;
    padding-right:5px;
}*/
#spanNickUsuario{
    padding-right:7px;
    font-size:14px;
    user-select:none;
}
#spanNickUsuario:hover{
    user-select:none;
    cursor:pointer;
}
#perfil:hover{
    cursor:pointer;
}


#home:hover{
    cursor: pointer;
}

#estadisticas:hover{
    cursor: pointer;
}

#criticas:hover{
    cursor: pointer;
}
#votos:hover{
    cursor: pointer;
}
#favoritas:hover{
    cursor: pointer;
}
/*Correccion ir al perfil*/
#irPerfil:hover{
    cursor: pointer;
}
#listafilms:hover{
    cursor: pointer;
}

/*########################################### FIN ESTILOS PARA LA CABECERA DEL USUARIO ########################################################################*/

/*###########################################  ESTILOS PARA film.php ########################################################################*/
#infoFilm{
    border-radius: 20px;
}


#infoFilm,#menuVotar{
    padding-left:3%;
        
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}

#portadaFilm{
    box-shadow:2px 2px 5px black;
    background-color:rgb(0, 255, 76);
    border-radius:5px;
  
    width:200px;  
}

#contenedorletras{
    text-align: center;
}
#contenedorletras:hover{
    cursor:default;
}


/*NO SE SI UTILIZARE ESTO*/
.letra{
    display: inline-block;
    width:17px;
    height: 17px;
    background-color:rgb(135, 135, 190); 
    
    font-size:12px;
    margin:1.5px; 
    border-radius:5px;
    color:white;
}

.letranumero{
    display: inline-block;
    width:60px;
    height: 17px;
    background-color:rgb(135, 135, 190); 
    
    font-size:12px;
    margin:1.5px; 
    border-radius:5px;
    color:white;
}


.letra:hover,.letranumero:hover{
    cursor: pointer;
    background-color:rgb(56, 56, 160);
}
/*FIN NO SE SI UTILIZARE ESTO*/






/*Estilos para nota y numero de votos*/

#contenedor{
    max-width:100%;
    height:9cm;
    overflow:hidden;
    /*background-color:purple;*/
    padding:1%;
    margin-left:auto;
    margin-right:auto;
}
#uno{
    float:left;
}
#dos{
    float:left;
    margin-left:5%;
    
}


.notaPeliculaFilmVue{
    
    text-shadow:2px 2px 5px black;
    background-color:rgb(173, 49, 49); 
    box-shadow: 3px 3px 3px 3px #ccc;
    color:white; 
    font-weight: bold;
    border-radius:5px;
    font-size:30px;
    
    /*Centrar texto en el div*/
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    

    width:90px;
    height: 90px;
}

.numeroVotosFilmVue{
    text-shadow:2px 2px 5px black;
    background-color:rgb(49, 82, 173);
    box-shadow: 3px 3px 3px 3px #ccc;
    border-radius:5px;
    color:white;
    font-weight: bold;
    width:90px;
    height: 60px;
     
    /*Centrar texto en el div*/
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.tuNota{
    text-shadow:2px 2px 5px black;
    background-color:rgb(15, 128, 0);
    box-shadow: 3px 3px 3px 3px #ccc;
    width:90px;
    height: 60px; 
    border-radius:5px;
    /*Centrar texto en el div*/
    display:flex;
    justify-content: center;
    align-items: center;
    
    text-align:center;
    color:white;
    font-weight: bold;
    font-size: 20px;
}
.tuNota:hover{
    cursor: pointer;

}

/*
.form-control{
    margin-left:1px;
    margin-top:10px;
}*/

#menuVotar{
    box-shadow:2px 2px 5px rgb(184, 184, 184);
    display:none;
    /*background-color:rgba(101, 138, 207, 0.835);  */  
    background-color:rgba(255, 255, 255, 0.897); 
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;   
    width:7.6cm;
    margin-top:6%;
    border-radius:5px;
    height: 16cm;
}
#menuVotar div{
    box-shadow:2px 2px 5px rgb(184, 184, 184);
    text-align:center;
    /*color:rgb(212, 5, 5);*/
    color:#c61126;
     /*Centrar texto en el div*/
     display:flex;
     justify-content: center;
     align-items: center;

    background-color:rgb(255, 255, 255);
    /*border:1px solid black;*/
    padding:5px;
    margin-top:10px;
    border-radius:5px;
    height: 40px;
}

#menuVotar div:hover{
    cursor:pointer;
}

#cerrarVotos{
    text-shadow:2px 2px 5px rgb(202, 202, 202);
    color:rgb(202, 202, 202);
    font-size:30px;
    text-align:right;
    margin-left:85%;
}
#cerrarVotos:hover{
    cursor: pointer;
    color:rgb(184, 184, 184);    
}

.estrellaOscura{
    /*color:rgb(161, 161, 161);*/
    color:#c6c5c5;
}




/*ESTILOS PARA LAS CRITICAS DEL FILM */
.iconosUsuariosCriticas{
    color:rgb(0, 94, 156);
    padding:15px;
    font-size:20px;
}
.nicksUsuariosCriticas{
    /*background-color:blue;*/
    font-size:14px;
    margin-right:40px;
}
.criticaUsuarios{
    width:100%;
    /*background-color:red;*/
    font-size:17px;
    /*margin-left:30%;*/

    font-size:19px;
    text-align: justify;
}
.contenedorCritica{
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    background-color:rgb(236, 236, 236);
    border-radius:5px;
    /*background-color: orange;*/
    /*margin-left:20px;*/
}

.textoCritica{
    /*background-color:purple;*/
    text-align:center;
}
.fechaCriticasUsuarios{
    text-align:right;
    color:rgb(75, 75, 75);
    font-size:12px;
    padding:5px;
    font-style:italic;
}

#contenidoInfoPelicula{
    text-align:justify;
}


.criticaDelUsuario{
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    padding:15px;
    background-color:rgb(236, 236, 236);
    border-radius:5px;
    font-size:15px;
    text-align: center;
}


#divBotonModificarCritica{
    text-align:right;
}

#modificaCritica{       
    padding:10px;
    background-color:rgb(236, 236, 236);
    border-radius:5px;
    user-select:none;
}
#modificaCritica:hover{
    background:rgb(155, 155, 155);
    cursor:pointer;
}
.fechaCriticaUsuario{
    text-align:right;
    color:rgb(75, 75, 75);
    font-size:12px;
    
    font-style:italic;
}
.opcionesCritica{    
    text-align:right;
}

.editarCritica:hover{
    color:rgb(60, 88, 212);
    cursor: pointer; 

}


.borrarCritica{
    margin-left:15px;
}
.borrarCritica:hover{    
    
    color:rgb(226, 0, 0);
    cursor: pointer; 
}




#tuPrimeraCritica{
    display:none;
}

.botonEscribirCritica{
    box-shadow:2px 2px 5px black;
    background-color:#303161;
    color:white;
    border-radius:5px;
    padding:10px;
    font-size:25px;
    margin-left:20px;
}
.botonEscribirCritica:hover{
    background-color:rgb(60, 88, 212);
    cursor: pointer; 
}


/*ESTILOS PARA AÑADIR A FAVORITOS*/
.estrellaFavoritaGris{
    text-shadow:2px 2px 5px rgb(202, 202, 202);
    color:rgb(206, 206, 206);
}

.estrellaFavoritaGris:hover{
    /*color:rgb(255, 210, 9);*/
    cursor:pointer;
}

.estrellaFavoritaAmarilla{
    text-shadow:2px 2px 5px rgb(202, 202, 202);
    color:rgb(255, 210, 9);
}

.estrellaFavoritaAmarilla:hover{
  /*  color:rgb(206, 206, 206);*/
    cursor:pointer;
}

#tituloPelicula{
    text-shadow:2px 2px 5px rgb(202, 202, 202);
}


#idfotopais img{
    border:1px solid rgb(121, 121, 121);
    border-radius:2px;
    margin-left:7px;
    width:42px;
    height: 25px;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
}
#nombrePais{
    margin-left:7px;
}
.peliNoEncontrada{
    color:rgb(255, 179, 0);
    padding-top:20px;
    font-size:50px;
    margin:20px
}

/*########################################### FIN ESTILOS PARA film.php ########################################################################*/


/*########################################### ESTILOS PARA perfil.php ########################################################################*/
#perfilUsuario{
    width:90%;  
    
    margin-top:1cm;   
    margin-bottom:3cm;
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:1cm;
}

#informacionUsuario{
    text-align:center;
}

.logoUsuario{
    margin-bottom:15px;
    color:rgb(0, 94, 156);
    font-size:60px;
}
#nickperfil{
    font-weight: bold;
}
#infoNoExistente{
    /*box-shadow:2px 2px 5px rgb(202, 202, 202);*/
    
    /*background-color:rgb(211, 211, 211);*/
    border-radius: 5px;
    text-align:center;
    display:none;
    
}

.nicksUsuariosCriticas:hover{
    cursor: pointer;
}

th,td{
    width:1%;
    text-align:center;
    user-select:none;
    padding:1px;
    font-size:95%;
}


.tablaInfoFilmRateUsuario{
    user-select:none;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    background-color:rgb(211, 211, 211);
    border-radius:5px;
    width:100%;
    margin-bottom:0.3cm;
    
    
}
.tablaInfoFilmRateUsuario{
    cursor: default;
}

.configUser{
    position:absolute;
    margin-left:20px;
}
#ajustesPerfil{
    color:rgb(122, 122, 122);
}
#ajustesPerfil:hover{
    cursor:pointer;
    color:rgb(92, 92, 92);
}

#configuracionUsuario{    
    margin-top:25px;
    text-align:center;
    display:none;
}
#configuracionUsuario div{    
    /*background-color:blue;*/
    
    margin:15px;
}
#cambiarNombre,#cambiarApellidos,#cambiarPassword{    
    background-color:rgb(206, 206, 206);
    width:6cm;
    height: 1.5cm;    
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 6px;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    font-weight: bold;
}
#eliminarCuenta{
    background-color:rgb(187,54,54);
    color:white;
    width:6cm;
    height: 1.5cm;    
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 6px;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    font-weight: bold;
}



#cambiarNombre:hover,#cambiarApellidos:hover,#cambiarPassword:hover{    
    cursor: pointer;    
    background-color:rgb(172, 172, 172);
}
#eliminarCuenta:hover{
    cursor: pointer;
    background-color:rgb(128, 38, 38);
}


#botonBuscarEstadisticas,#botonBuscarFavoritas,#botonBuscarVotos,#botonBuscarCriticas{
    padding:10px;
    
    background: rgb(53, 80, 156);
    /*margin-left:15px;*/
    margin:5px;
    color:white;
    border-radius: 5px;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
}
#botonBuscarFavoritas:hover,#botonBuscarEstadisticas:hover,#botonBuscarVotos:hover,#botonBuscarCriticas:hover{
    cursor: pointer;
    background: rgb(35, 50, 92);
}

.oculto{
    display:none;
    
}

.contenedorBotonesPerfilUsuario{
    text-align:center;    
}

#botonBuscarEstadisticas i,#botonBuscarFavoritas i,#botonBuscarVotos i,#botonBuscarCriticas i{
    width:0.7cm;
    
}



/*
.fa-chart-area{
    width:0.7cm;
}*/

.explicacionMinutosTotales{
    font-size:10px;
}


/*########################################### FIN ESTILOS PARA perfil.php ########################################################################*/


/*########################################### ESTILOS PARA estadisticas.php ########################################################################*/


#paginaEstadisticas{     
    width:90%;    
    border-radius: 20px;
    margin-top:1cm;   
    margin-bottom:3cm;  
    
    padding-top:20px;
    padding-left:3.3%;
    
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);

}
h3:hover{
    cursor: default;
}
/*Estilos para la informacion de colores de las graficas*/
.infoGraficas{    
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
    user-select:none;
}
.infoGraficas:hover{
    cursor:default;
}

/*ESTILOS PARA LA PRIMERA GRAFICA*/
#graficaUno{
 text-align: center;   
}
#graficaUno h5{
    margin-right:5%;
}


.tusVotos{
    background-color:#3e95cd;
    padding:7px;
    margin-right:10px;
    border-radius: 25px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    user-select:none;
}
.tusVotos:hover{
    cursor:pointer;
    background-color:#327caa;
}

.votosOtrosUsuarios{
    background-color:#8e5ea2;
    padding:7px;
    border-radius: 25px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    user-select:none;
}
/*FIN ESTILOS PARA LA PRIMERA GRAFICA*/

/*
#buscadorEstadisticas{*/
    /*background-color: red;*/
    /*padding:15px;*/
/*}*/
#buscadorEstadisticas h3{
    margin-right:15px;
}

#textoBuscarEstadisticas{
    
    width: 4cm;

}



.usuarioMasVotos{
    
    margin-right:3px; 
    padding:7px;   
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    color:white;
    border-radius: 25px;    
}
.usuarioMasVotos:hover{
    cursor: pointer;
}

.usuariosVotos{
    line-height: 1.2cm;
    padding:0
}
/*["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],*/
.us0{
    background-color:#3e95cd;
    display:none;
}
.us0:hover{
    background-color:#2e719b;
}
.us1{
    background-color:#8e5ea2;
    display:none;
}
.us1:hover{
    background-color:#734d83;
}
.us2{
    background-color:#3cba9f;
    display:none;
}
.us2:hover{
    background-color:#329c85;
}
.us3{
    background-color:#dd973b;
    display:none;
}
.us3:hover{
    background-color:#b47b31;
}
.us4{
    
    background-color:#c45850;
    display:none;
}
.us4:hover{
    background-color:#9c4640;
}
/*########################################### FIN ESTILOS PARA estadisticas.php ########################################################################*/

/*###########################################  ESTILOS PARA indexUsuario.php ########################################################################*/

/*Esto puede que me sea util para la lista de favoritas*/
#inicioUsuario{
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
.mensajeBienvenida{
    
    text-align: center;

}

.tituloTopPeliculasMejorVotadas{
    margin-left:20px;
}

.contenedorFilmTopTres{
    background-color:grey;
    height: 1.5cm;
    margin-bottom:15px;
    width:95%;
    margin:auto;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    /*box-shadow:2px 2px 5px rgb(134, 134, 134);*/
    padding:15px;
    background-color:rgb(236, 236, 236);
    border-radius:5px;
   

     /*Centrar texto en el div*/
     display:flex;
     justify-content: left;
     align-items: center;
     margin-bottom:15px;
}
.contenedorFilmTopTres:hover{
    cursor:pointer;
    background-color:rgb(212, 212, 212) ;
}



.contenedorFilmTopTres span{
    padding:2%;
}

.fotoTopTres{
    margin-left:4%;
    border-radius: 5px;
    width:33px;
    box-shadow:2px 2px 5px rgb(134, 134, 134);
}
.tituloTopTres{
    /*background-color:red;*/
    width:83%;
    text-align:center;
    font-size:15px;
}
.notaTopTres{
    width:1cm;
    text-align:center;
    font-size:120%;
    font-weight: bold;
    

    /*font-size:5px;
    background-color:rgb(173, 49, 49);
    width:1cm;
    height: 1cm;
    text-align:center;
    color:rgb(255, 255, 255);
    border-radius:15px;
    box-shadow:2px 2px 5px rgb(134, 134, 134);*/
}

.colorNota{
    color:white;
    background-color:rgb(173, 49, 49);
    border-radius: 5px;
    padding:5px;
    width:1.1cm;
    box-shadow:2px 2px 5px rgb(134, 134, 134);
    text-shadow: 3px 3px 5px black;
    font-size: 15px;
}




/*Fin esto puede que me sea util para la lista de favoritas*/






/*########################################### FIN ESTILOS PARA indexUsuario.php ########################################################################*/


/*########################################### ESTILOS PARA listaFilmsUsuario.php ########################################################################*/



#listaFilmsUsuario{
    /*Esto puede que me sea util para la lista de favoritas*/
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
#tituloListaFilms{
    padding:15px;
}


.contenedorFilmDiez{
    background-color:grey;
    height: 1.5cm;
    margin-bottom:15px;
    width:95%;
    margin:auto;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    /*box-shadow:2px 2px 5px rgb(134, 134, 134);*/
    padding:15px;
    background-color:rgb(236, 236, 236);
    border-radius:5px;
   

     /*Centrar texto en el div*/
     display:flex;
     justify-content: left;
     align-items: center;
     margin-bottom:15px;
}
.contenedorFilmDiez:hover{
    cursor:pointer;
    background-color:rgb(212, 212, 212) ;
}

.contenedorFilmTopTresDiez:hover{
    cursor:pointer;
    background-color:rgb(212, 212, 212) ;
}



.contenedorFilmTopTresDiez span{
    padding:2%;
}

.fotoDiez{
    margin-left:5%;
    border-radius: 5px;
    width:33px;
    box-shadow:2px 2px 5px rgb(134, 134, 134);
}
.tituloDiez{
    /*background-color:red;*/
    width:83%;
    text-align:center;
    font-size:15px;
}
.notaDiez{
    width:1cm;
    text-align:center;
    font-size:120%;
    font-weight: bold;


}

.colorNotaDiez{
    color:white;
    background-color:rgb(173, 49, 49);
    border-radius: 5px;
    padding:5px;
    width:1.1cm;
    box-shadow:2px 2px 5px rgb(134, 134, 134);
    text-shadow: 3px 3px 5px black;
    font-size: 15px;
}



#mostrarDiezMas{
    text-align: center;    
}

#btnDiezMas{
    display:inline-block;
    background-color: #303161;
    padding:15px;
    color:white;
    border-radius: 5px;;
}

#btnDiezMas:hover{
    cursor: pointer;
    background-color: #3c3d7c;
}
/*########################################### FIN ESTILOS PARA listaFilmsUsuario.php ########################################################################*/


/*########################################### ESTILOS PARA listaFavoritasUsuario.php ########################################################################*/


#listaFavoritasUsuario{
    /*Esto puede que me sea util para la lista de favoritas*/
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
#tituloListaFavoritas{
    padding:15px;
}

.contenedorFilmFavoritas{
    background-color:grey;
    height: 1.5cm;
    margin-bottom:15px;
    width:95%;
    /*margin:auto;*/
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    /*box-shadow:2px 2px 5px rgb(134, 134, 134);*/
    padding:10px;
    background-color:rgb(236, 236, 236);
    border-radius:5px;
    

     /*Centrar texto en el div*/
     display:flex;
     justify-content: left;
     align-items: center;
     margin-bottom:15px;
    
}
.contenedorFilmFavoritas:hover{
    cursor:pointer;
    background-color:rgb(212, 212, 212) ;
}


.fotoFavorita{
    margin-left:5%;
    border-radius: 5px;
    width:33px;
    box-shadow:2px 2px 5px rgb(134, 134, 134);
}
.tituloFavorita{
    /*background-color:red;*/
    width:83%;
    text-align:center;
    font-size:15px;
}

.estrellafavorita{
    font-size:20px;

    text-shadow:2px 2px 5px rgb(202, 202, 202);
    color:rgb(235, 196, 88);
}

.estrellafavorita:hover{
    text-shadow:2px 2px 5px rgb(202, 202, 202);
    color:rgb(235, 88, 88);
    cursor:pointer;
}

.divEstrella{
     /*Centrar texto en el div*/
     display:flex;
     justify-content: left;
     align-items: center;
     margin-bottom:15px;
     margin-left:2%;
     margin-right:2%;
     padding-left:2.5%;
     
}

.contenedorCadaFavorita{
    display:flex;
    margin-left:5%;
 
}

/*
#mostrarDiezMas{
    text-align: center;    
}

#btnDiezMas{
    display:inline-block;
    background-color: #303161;
    padding:15px;
    color:white;
    border-radius: 5px;;
}

#btnDiezMas:hover{
    cursor: pointer;
    background-color: #3c3d7c;
}*/
/*########################################### FIN ESTILOS PARA listaFavoritasUsuario.php ########################################################################*/


/*########################################### ESTILOS PARA listaVotosUsuario.php ########################################################################*/



#listaVotosUsuario{
    /*Esto puede que me sea util para la lista de favoritas*/
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
#tituloVotos{
    padding:15px;
}


.contenedorVotosUsuario{
    background-color:grey;
    height: 1.5cm;
    margin-bottom:15px;
    width:95%;
    margin:auto;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    /*box-shadow:2px 2px 5px rgb(134, 134, 134);*/
    padding:15px;
    background-color:rgb(236, 236, 236);
    border-radius:5px;
   

     /*Centrar texto en el div*/
     display:flex;
     justify-content: left;
     align-items: center;
     margin-bottom:15px;
}
.contenedorVotosUsuario:hover{
    cursor:pointer;
    background-color:rgb(212, 212, 212) ;
}

.contenedorVotosUsuario:hover{
    cursor:pointer;
    background-color:rgb(212, 212, 212) ;
}



.colorVotosUsuario{
    color:white;
    background-color:rgb(173, 49, 49);
    border-radius: 5px;
    padding:5px;
    width:1.1cm;
    box-shadow:2px 2px 5px rgb(134, 134, 134);
    text-shadow: 3px 3px 5px black;
    font-size: 15px;
}
.fotoVotosUsuario{
    margin-left:4%;
    border-radius: 5px;
    width:33px;
    box-shadow:2px 2px 5px rgb(134, 134, 134);
}
.tituloVotosUsuario{
    /*background-color:red;*/
    width:83%;
    text-align:center;
    font-size:15px;
}
.notaVotosUsuario{
    width:1cm;
    text-align:center;
    font-size:120%;
    font-weight: bold;   
}

.contenedorOrdenar{
    text-align:right;
  
}
.contenedorOrdenar span{
    font-size:12px;
    color:white;
    /*margin:1%;*/
    background-color:rgb(0, 94, 156);
    padding:7px;
    box-shadow:2px 2px 5px rgb(134, 134, 134);
    border-radius: 5px;
    margin-right:3%;
}
.contenedorOrdenar span:hover{
    cursor: pointer;
    background-color:rgb(1, 105, 175);
}


/*########################################### FIN ESTILOS PARA listaVotosUsuario.php ########################################################################*/



/*########################################### ESTILOS PARA listaCriticasUsuario.php ########################################################################*/

#listaCriticasUsuario{
    /*Esto puede que me sea util para la lista de favoritas*/
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
#tituloCriticas{
    padding:15px;
}

.criticaDelUsuario:hover{
    cursor:pointer;
    background-color:rgb(212, 212, 212) ;
}

.criticaDelUsuario{
    margin:20px;    
}

.fotoFilmCritica{
    margin-left:5%;
    border-radius: 5px;
    width:60px;
    height:100px ;
    
    box-shadow:2px 2px 5px rgb(134, 134, 134);
    left:1cm;
    /*display:flex;*/
}


.textoCriticasUsuario{
    /*background-color:purple;*/
    text-align:center;
    
}
.cadaTituloCritica{
    font-size:16px;
    padding-left:3%;
    font-weight:bold;
    font-style:italic;
}

/*########################################### FIN ESTILOS PARA listaCriticasUsuario.php ########################################################################*/



/*PARTE DEL ADMINISTRADOR-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*########################################### ESTILOS PARA indexAdmin.php ########################################################################*/

/*Esto puede que me sea util para la lista de favoritas*/
#inicioAdmin{
    border-radius: 20px;
    width:90%;  
    margin-top:0.6cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
.mensajeBienvenidaAdmin{
    text-align: center;
}
.claseOpcionAdmin{
    font-size:90px;
    padding:20px;
    text-shadow:2px 2px 5px rgb(134, 134, 134);


}
.claseOpcionAdminPlus{
    font-size:30px;
    vertical-align: top;
    margin-left:-21px;
}

.opcionesAdmin{
    /*background-color:red;*/
    text-align: center;
    color:rgba(71, 71, 177, 0.89);
    text-shadow:2px 2px 5px rgb(134, 134, 134);


}
.opcionAdmin:hover{
    cursor:pointer;
}

.opcionAdmin{
    padding:10px;
    margin:0.6cm;
    border-radius: 20px;
    background-color:rgb(223, 223, 223);
    display:inline-block;
    width:4.3cm;
    box-shadow:2px 2px 5px rgb(134, 134, 134);

}
.opcionAdmin:hover{
    background-color:rgb(197, 197, 197);
}

.textoOpcionAdmin{
    font-size:15px;
    font-weight: bold;
    text-shadow:2px 2px 5px rgb(221, 221, 221);

}
/*########################################### FIN ESTILOS PARA indexAdmin.php ########################################################################*/
/*########################################### ESTILOS PARA cabeceraAdmin.php ########################################################################*/

.iconoscabecera:hover{
    cursor: default;
}
.cabeceraoculta{
    display:none;
}
#usuariosadmin:hover{
    
    cursor: pointer;
}
#nuevofilm:hover{
    cursor: pointer;
}
#nuevousuario:hover{
    cursor:pointer;
}
.miniPlus{
    font-size:7px;
   
}
#listafilmsadmin{
    font-size:11px;
}
.nuevofilmtexto{
    font-size: 11px;
}
#listafilmsadmin:hover{
    cursor:pointer;
}
#usuariosadmin{
    font-size:11px;
}
#estadisticasadmin{
    font-size:11px;
}
#estadisticasadmin:hover{
    cursor: pointer;
}
#nuevofilm{
    font-size:11px;
}
#nuevousuario{
    font-size:11px;
}

/*########################################### FIN ESTILOS PARA cabeceraAdmin.php ########################################################################*/



/*########################################### ESTILOS PARA listaFilmsAdmin.php ########################################################################*/

#listaFilmsAdmin{
    /*Esto puede que me sea util para la lista de favoritas*/
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
#tituloListaFilmsAdmin{
    padding:15px;
}

.buscadorPelicula{
    background-color:rgb(200, 200, 200);
    box-shadow:2px 2px 5px rgb(221, 221, 221);
    border-radius: 15px;

    padding:20px;
    margin:20px;

}
.tituloBuscadorFilm{
    display: inline-block;
    width: 3cm;
    /*padding-left:20px;*/
    

}
#filmBuscarAdmin{
    display:inline-block;
    /*width: 6cm;*/
    width: 55%;
    height: 1.2cm;
}

.botonBuscarFilmAdmin{
    border-radius: 10px;
    color:white;
    display:inline-block;
    box-shadow:2px 2px 5px rgb(221, 221, 221);
    background-color:rgb(123, 157, 219);
    padding:10px;
    margin:5px;
    box-sizing: 20px;
}
.botonBuscarFilmAdmin:hover{
    cursor:pointer;
    background-color:rgb(106, 142, 207);
}
/*########################################### FIN ESTILOS PARA listaFilmsAdmin.php ########################################################################*/

/*########################################### ESTILOS PARA filmAdmin.php ########################################################################*/

.opcionesFilmAdmin{
    
    padding:10px;
}
.editarFilm, .cambiarFotoFilm{
    color:white;
    border-radius: 10px;
    box-shadow:2px 2px 5px rgb(221, 221, 221);
    background-color:rgb(123, 157, 219);   
    display:inline;
    padding:5px;
    margin-right:15px;
}
.editarFilm:hover, .cambiarFotoFilm:hover{
    cursor: pointer;
    background-color:rgb(101, 136, 202);   

}

.guardar{   
    color:white;
    border-radius: 10px;
    box-shadow:2px 2px 5px rgb(221, 221, 221);
    background-color:rgb(116, 179, 100);   
    display:inline;
    padding:5px;
    margin-right:15px;
}
.guardar:hover{
    cursor: pointer;
    background-color:rgb(140, 206, 123);   

}


.cancelar{   
    color:white;
    border-radius: 10px;
    box-shadow:2px 2px 5px rgb(221, 221, 221);
    background-color:rgb(209, 79, 79);   
    display:inline;
    padding:5px;
    margin-right:15px;
}
.cancelar:hover{
    cursor: pointer;
    background-color:rgb(189, 62, 62);   

}
.textarea{
    width:100%;
    height: 3cm;
}
.input0{
    font-size:30px;
    width:8cm;
}
.input1{    
    width:4cm;
}
.input3{
    width: 1.5cm;
}
.input6{
    width:65%;
}
.input4{
    width:2cm;
}

.infoEditarPais{
    display:none;
    color:black;
    font-style: italic;
    font-weight: 10px;
   
}

.editarPais{
    display:none;
    margin-left:10px;
    color:white;
    border-radius: 10px;
    box-shadow:2px 2px 5px rgb(221, 221, 221);
    background-color:rgb(123, 157, 219);   
    display:inline;
    padding:5px;
    margin-right:15px;
}
.editarPais:hover{
    cursor: pointer;
    background-color:rgb(101, 136, 202);   

}

.fotosPaisesEditarFilm{
    width:30px;
}

.cadaPais{
    font-size:14px;
    text-align: left;
    margin-left:3%;
    padding:5px;
}
.cadaPais:hover{
    background-color:rgb(209, 209, 209);   

    cursor:pointer;
}
.eliminarFilmAdmin{
    margin-left:20px;
    font-size:25px;
    color:rgb(224, 72, 72);
}
.eliminarFilmAdmin:hover{
    cursor: pointer;
    color:rgb(195, 56, 56);

}
/*########################################### FIN ESTILOS PARA filmAdmin.php ########################################################################*/


/*###########################################  ESTILOS PARA listaUsuariosAdmin.php ########################################################################*/

#listaUsuariosAdmin{
    /*Esto puede que me sea util para la lista de favoritas*/
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
   
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
#tituloListaUsuarios{
    padding:15px;
}
.buscadorUsuario{
    background-color:rgb(200, 200, 200);
    box-shadow:2px 2px 5px rgb(221, 221, 221);
    border-radius: 15px;

    padding:20px;
    margin:20px;

}
.tituloBuscadorUsuario{
    display: inline-block;
    width: 3cm;
    /*padding-left:20px;*/
    

}
#usuarioBuscarAdmin{
    display:inline-block;
    /*width: 6cm;*/
    width: 55%;
    height: 1.2cm;
}

.botonBuscarUsuarioAdmin{
    border-radius: 10px;
    color:white;
    display:inline-block;
    box-shadow:2px 2px 5px rgb(221, 221, 221);
    background-color:rgb(123, 157, 219);
    padding:10px;
    margin:5px;
    box-sizing: 20px;
}
.botonBuscarUsuarioAdmin:hover{
    cursor:pointer;
    background-color:rgb(106, 142, 207);
}

.contenedorUsuario{
    background-color:grey;
    height: 1.5cm;
    margin-bottom:15px;
    width:95%;
    margin:auto;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    /*box-shadow:2px 2px 5px rgb(134, 134, 134);*/
    padding:15px;
    background-color:rgb(236, 236, 236);
    border-radius:5px;
   

     /*Centrar texto en el div*/
     display:flex;
     justify-content: left;
     align-items: center;
     margin-bottom:15px;
}
.contenedorUsuario:hover{
    cursor:pointer;
    background-color:rgb(212, 212, 212) ;
}

.tituloUsuarios{
    /*background-color:red;*/
    width:35%;
    text-align:left;
    font-size:15px;
    font-weight: bold;
    margin-left:20px;
}
.iconoCadaUsuarioLista{
    margin-left:20px;
    font-size: 30px;
    color:rgb(140, 140, 255);
}
.cuentaActiva1{
    background-color: rgb(163, 231, 146);
}
.cuentaActiva1:hover{
    background-color: rgb(153, 194, 143);
}
.cuentaActiva0{
    background-color: rgb(231, 146, 146);
}
.cuentaActiva0:hover{
    background-color: rgb(194, 143, 143);
}
/*########################################### FIN ESTILOS PARA listaUsuariosAdmin.php ########################################################################*/

/*########################################### ESTILOS PARA perfilUsuariosAdmin.php ########################################################################*/
#datosUsuario{
    padding-left:20px;
}
.infoUsuario{
    
    width:3cm;
    display:inline-block;
}
.cuentaSiActivada{
    font-weight: bold;
    color:rgb(23, 194, 23);
}
.cuentaNoActivada{
    font-weight: bold;
    color:rgb(194, 23, 23);
}
.botonActivarCuenta{
    background-color: rgb(100, 179, 93);
    padding:5px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius:5px;
    margin-left:20px;
}
.botonActivarCuenta:hover{
    cursor: pointer;
    background-color: rgb(83, 149, 77);
}
.botonCambiarPasswordUsuario{
    
    display:none;
    background-color: rgb(93, 99, 179);
    padding:6px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius:5px;
}
.botonCambiarPasswordUsuario:hover{
    cursor: pointer;
    background-color: rgb(77, 96, 149);
}
.inputEditar{
    width:7.5cm;
}
.guardarEdicionUsuario{
    display:none;
    background-color: rgb(104, 182, 108);
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    font-size:16px;
    color:white;
    padding:6px;
    border-radius:5px;
    margin-left:20px;
}
.guardarEdicionUsuario:hover{
    cursor:pointer;
    background-color: rgb(92, 167, 96);
}
.selectorTipoUsuario{
    display:inline;
}
.cancelarEdicionUsuario{     
    display:none;
    background-color: rgb(179, 93, 93);
    padding:6px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius:5px;
}
.cancelarEdicionUsuario:hover{
    cursor:pointer;
    background-color: rgb(156, 76, 76);

}
.eliminarUsuario{
    color:rgb(230, 111, 111);
    margin-left:0.2cm;
    font-size:28px;
}
.eliminarUsuario:hover{
    cursor: pointer;
    color:rgb(200, 92, 92);    
}
/*########################################### FIN ESTILOS PARA perfilUsuariosAdmin.php ########################################################################*/

/*########################################### ESTILOS PARA crearUsuariosAdmin.php ########################################################################*/
#crearUsuarioAdmin{
    /*Esto puede que me sea util para la lista de favoritas*/
    border-radius: 20px;
    width:90%;  
    margin-top:1cm;   
    margin-bottom:3cm;  
    
    /*height: 50cm;*/
    /*border:1px solid grey;*/
    background-color:rgb(245, 245, 245);
    padding:2%;
    padding-top:0.5cm;
}
#formularioCrearUsuario{
    padding:2%;
    margin-left:0.2cm;
}

.inputRadio{
    display:inline;
    
    margin-left:0.5cm;
   
}
.tituloInputRadio{
    display:inline;
}
#cuentaActivada{
   margin-left:20px;
}
.botonCrearUsuario{
    background-color: rgb(100, 179, 93);
    padding:5px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius:5px;
    margin-left:20px;
    width:3cm;
    text-align: center;
    margin-bottom:20px;
}
.botonCrearUsuario:hover{
    cursor: pointer;
    background-color: rgb(79, 153, 72);    
}

/*########################################### FIN ESTILOS PARA crearUsuariosAdmin.php ########################################################################*/

/*###########################################  ESTILOS PARA crearFilmAdmin.php ########################################################################*/
#crearFilmAdmin{
     /*Esto puede que me sea util para la lista de favoritas*/
     border-radius: 20px;
     width:90%;  
     margin-top:1cm;   
     margin-bottom:3cm;  
     
     /*height: 50cm;*/
     /*border:1px solid grey;*/
     background-color:rgb(245, 245, 245);
     padding:2%;
     padding-top:0.5cm;
}
.botonesNuevoFilm{
    text-align: center;
}
.botonManualmente, .botonUsandoApi{
    background-color: rgb(93, 123, 179);
    padding:15px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius:5px;
    margin-left:20px;
    width:3cm;
    text-align: center;
    margin-bottom:20px;
}
.botonManualmente:hover, .botonUsandoApi:hover{
    cursor: pointer;
    background-color: rgb(72, 101, 155);

}
.manualmente, .api{
    display:none;
}
.manualmente{
    margin-left:20px;
}
.botonCrearFilm{
    background-color: rgb(100, 179, 93);
    padding:5px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius:5px;    
    width:3cm;
    text-align: center;
    margin-bottom:20px;
}
.botonCrearFilm:hover{
    cursor: pointer;
    background-color: rgb(85, 161, 78);
}
#botonPais, #botonFoto{
    background-color: rgb(93, 106, 179);
    padding:5px;
    color:white;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius:5px;    
    width:3cm;
    text-align: center;
    margin-bottom:20px;
}
#botonPais:hover, #botonFoto:hover{
    cursor: pointer;
    background-color: rgb(74, 87, 160);

}

/*Quitarle las flechas al campo input number de duracion de film*/
#inputDuracion::webkit-inner-spin-button,#inputDuracion::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}
#inputDuracion{
    -moz-appearance:textfield;
}
/*Fin quitarle las flechas al campo input number de duracion de film*/

#inputGuion,#inputReparto,#inputSinopsis{
    width: 80%;
}

.contenedorBuscadorApi{
    background-color:rgb(189, 189, 189);
    padding:20px;
    vertical-align: middle;
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius:5px;  
}
.campoBuscadorApi{
    margin-left:15px;
}
.botonBuscadorApi{
    color:white;
    text-align: center;
    width: 40px;
    display:inline-block;
    margin-left:15px;
    background-color:rgb(123, 157, 219);
    box-shadow:2px 2px 5px rgb(202, 202, 202);
    border-radius: 5px;
    padding:7px;
}
.botonBuscadorApi:hover{
    cursor: pointer;
    background-color:rgb(99, 132, 192);

}

/*########################################### FIN ESTILOS PARA crearFilmAdmin.php ########################################################################*/

/*FOOTER*/
footer{
    position: absolute;
    bottom:0px;
    width:100%;    
}

/*Para que los enlaces no aparezcan con puntos al hacer click (Mozilla FireFox)*/
:focus{outline:none;}
::-moz-focus-inner{border:0;}

/*Estilos para LOPD*/
.lopd{
    font-size: 10px;
}